 <footer>
            <div class="f-nd container">
                <div class="f-col">
                    <div class="f-greet">
                        <div class="f-logo">
                            Logo
                        </div>
                        <div class="f-great-p">
                            <p>Chào mừng quý khách đến với cửa hàng chúng tôi. Liên hệ ngay với chúng tôi để được tư vấn sản phẩm phù hợp nhất</p>                       
                        </div>
                        <div class="great-icon">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-envelope-o"></i>
                            <i class="fa fa-instagram"></i>
                            <i class="fa fa-twitter"></i>
                        </div>

                    </div>
                    <div class="f-exp">
                        <div class="f-exp-title">
                            <h3>Menu</h3>
                        </div>
                        <div class="f-exp-nd">
                            <div class="f-exp-nd-left">
                                <ul>
                                    <li>
                                        <p><a href="/">Trang chủ</a> </p>
                                    </li>
                                    <li>
                                        <p><a href="/khuyenmai">Khuyến mãi</a> </p>
                                    </li>
                                    <li>
                                        <p><a href="/tintuc">Tin tức</a> </p>
                                    </li>
                                    <li>
                                        <p><a href="/lienhe">Liên hệ</a> </p>
                                    </li>
                                    <li>
                                        <p><a href="/dndk">Đăng nhập</a> </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="f-exp-nd-right">
                                <ul>
                                    <li>
                                        <p><a href="">Tư vấn</a> </p>
                                    </li>
                                    <li>
                                        <p><a href="">Bảo hành</a> </p>
                                    </li>
                                    <li>
                                        <p><a href="">Nhân viên</a> </p>
                                    </li>
                                    <li>
                                        <p><a href="">Giúp đỡ</a> </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="f-contact">
                        <div class="f-contact-title">
                            <h3>Contact</h3>
                        </div>
                        <div class="f-contact-nd">
                            <ul>
                                <li>
                                    <p>Số nhà, tên đường, phường, quận, thành phố</p>
                                </li>
                                <li>
                                    <p>0987267632</p>
                                </li>
                                <li>
                                    <p style="display: flex">trandinhtien19941@gmail.com</p>
                                </li>
                            </ul>
                        </div>
                        
                        
                    </div>
                    <div class="f-news">
                        <div class="f-news-title">
                            <h3>NEWSLETTER</h3>
                        </div>
                        <div class="f-news-input">
                            <form action="">
                                <div class="f-news-input-icon">
                                    <button style="background: none;" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                            <input type="text">
                            </form>
                            
                        </div>
                        <p>Bạn có muốn biết những thông tin hữu ích nhất cho việc chăm sóc thú cưng không, hã tìm kiếm tại đay</p>
                    </div>
                </div>
                <hr>
                <div class="tien">
                    <p>© copyright 2021 by Trần Đình Tién</p>
                </div>
            </div>
        </footer>