<header class=''>
            <div class="header">
                <div class="container">
                    <div class="header-nd">
                        <div class="lo">
                            <a href="/"><img src="img/logo.gif" alt=""></a>
                            
                        </div>
                        <div class="find">
                            <form action="">
                                <input type="text">
                                <button type="submit">
                                    <i class="fa fa-home"></i>
                                </button>
                            </form>
                        </div>
                        <div class="ktdonhang">
                            <a href="">
                                <i class='fa fa-home'></i>
                            <p>Kiểm tra <br> đơn hàng</p>
                            </a>
                            
                        </div>
                        <div class="giohang">
                            <i class='fa fa-home'></i>
                            <div><p>0</p></div>
                        </div>
                        <div class="onl">
                            <i class="fa fa-home"></i>
                            <div>
                                <p class="text">hotline</p>
                            <p class="num">09090909</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="nav-main">
            <div class="nav-bar">
                <div class="container">
                    <nav>
                        <ul>
                            <li><a href="/">
                                
                                <p>Trang chủ</p>
                            </a></li>
                            <li><a href="/gioithieu">
                                
                                <p>Giới thiệu</p>
                            </a></li>
                            <li><a href="/sanphamchocho">
                                <i class='fa fa-chevron-down'></i>
                                <p>Shop cho chó</p>
                                
                            </a>
                            <div class="nav-chitiet">
                                <div class="nav-chitiet-col">
                                    <div class="nav-chitiet-col-item">
                                        <h5>Thức ăn cho chó </h5>
                                        <ul class="a">
                                            <li><a>Pate</a></li>
                                            <li><a>Thức ăn khô</a></li>
                                            <li><a>Thức ăn ướt</a></li>
                                            <li><a>Thức ăn dặm</a></li>
                                            <li><a>Thức ăn tươi sống</a></li>
                                            <li><a>Snack, bánh quy</a></li>
                                        </ul>
                                    </div>
                                    <div class="nav-chitiet-col-item">
                                        <h5>Quần áo cho chó</h5>
                                        <ul class="a">
                                            <li><a>Pate</a></li>
                                            <li><a>Thức ăn khô</a></li>
                                            <li><a>Thức ăn ướt</a></li>
                                            <li><a>Thức ăn dặm</a></li>
                                        </ul>
                                    </div>
                                    <div class="nav-chitiet-col-item">
                                        <h5>Quần áo cho chó</h5>
                                        <ul class="a">
                                            <li><a>Pate</a></li>
                                            <li><a>Thức ăn khô</a></li>
                                            <li><a>Thức ăn ướt</a></li>
                                            <li><a>Thức ăn dặm</a></li>
                                        </ul>
                                    </div>
                                    <div class="nav-chitiet-col-item">
                                        <h5>Quần áo cho chó</h5>
                                        <ul class="a">
                                            <li><a>Pate</a></li>
                                            <li><a>Thức ăn khô</a></li>
                                            <li><a>Thức ăn ướt</a></li>
                                            <li><a>Thức ăn dặm</a></li>
                                        </ul>
                                    </div>
                                    <div class="nav-chitiet-col-item">
                                        <h5>Quần áo cho chó</h5>
                                        <ul class="a">
                                            <li><a>Pate</a></li>
                                            <li><a>Thức ăn khô</a></li>
                                            <li><a>Thức ăn ướt</a></li>
                                            <li><a>Thức ăn dặm</a></li>
                                        </ul>
                                    </div>
                                    <div class="nav-chitiet-col-item">
                                        <h5>Quần áo cho chó</h5>
                                        <ul class="a">
                                            <li><a>Pate</a></li>
                                            <li><a>Thức ăn khô</a></li>
                                            <li><a>Thức ăn ướt</a></li>
                                            <li><a>Thức ăn dặm</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                            <li><a href="/sanphamchomeo">
                                <i class='fa fa-chevron-down'></i>
                                <p>Shop cho mèo</p>
                            </a>
                            <div class="nav-chitiet">
                                <div class="nav-chitiet-col">
                                    <div class="nav-chitiet-col-item">
                                        <h5>Thức ăn cho mèo</h5>
                                        <ul class="a">
                                            <li><a>Pate</a></li>
                                            <li><a>Thức ăn khô</a></li>
                                            <li><a>Thức ăn ướt</a></li>
                                            <li><a>Thức ăn dặm</a></li>
                                            <li><a>Thức ăn tươi sống</a></li>
                                            <li><a>Snack, bánh quy</a></li>
                                        </ul>
                                    </div>
                                    <div class="nav-chitiet-col-item">
                                        <h5>Quần áo cho mèo</h5>
                                        <ul class="a">
                                            <li><a>Pate</a></li>
                                            <li><a>Thức ăn khô</a></li>
                                            <li><a>Thức ăn ướt</a></li>
                                            <li><a>Thức ăn dặm</a></li>
                                        </ul>
                                    </div>
                                    <div class="nav-chitiet-col-item">
                                        <h5>Quần áo cho mèo</h5>
                                        <ul class="a">
                                            <li><a>Pate</a></li>
                                            <li><a>Thức ăn khô</a></li>
                                            <li><a>Thức ăn ướt</a></li>
                                            <li><a>Thức ăn dặm</a></li>
                                        </ul>
                                    </div>
                                    <div class="nav-chitiet-col-item">
                                        <h5>Quần áo cho mèo</h5>
                                        <ul class="a">
                                            <li><a>Pate</a></li>
                                            <li><a>Thức ăn khô</a></li>
                                            <li><a>Thức ăn ướt</a></li>
                                            <li><a>Thức ăn dặm</a></li>
                                        </ul>
                                    </div>
                                    <div class="nav-chitiet-col-item">
                                        <h5>Quần áo cho mèo</h5>
                                        <ul class="a">
                                            <li><a>Pate</a></li>
                                            <li><a>Thức ăn khô</a></li>
                                            <li><a>Thức ăn ướt</a></li>
                                            <li><a>Thức ăn dặm</a></li>
                                        </ul>
                                    </div>
                                    <div class="nav-chitiet-col-item">
                                        <h5>Quần áo cho mèo</h5>
                                        <ul class="a">
                                            <li><a>Pate</a></li>
                                            <li><a>Thức ăn khô</a></li>
                                            <li><a>Thức ăn ướt</a></li>
                                            <li><a>Thức ăn dặm</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </li>
                            <li><a href="/khuyenmai">
                               
                                <p>khuyến mãi</p>
                            </a></li>
                            <li><a href="/tintuc">
                                
                                <p>Tin tức</p>
                            </a></li>
                            <li><a href="/lienhe">
                                
                                <p>liên hệ</p>
                            </a></li>
                            
                            
                        </ul>
                    </nav>
                </div>
                
            </div>
            
        </section>
        <section>
            <div class="nav-bar-2">
                <div class="container">
                    <div class="nav-mask"></div>
                    <div class="nut">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <nav>
                        <div class="nutx">
                            <i class="fa fa-home"></i>
                        </div>
                        <ul>
                            <li>
                                <a href="/">Trang chủ</a>
                            </li>
                            <li>
                                <a href="/gioithieu">Giới thiệu</a>
                            </li>
                            <li>
                                <a href="/sanphamchocho">Shop cho chó</a>
                                <i class="fa fa-home"></i>
                                <div class="nav-chitiet2">
                                    <ul>
                                        <li><a href="">Thức ăn chó chó</a></li>
                                        <li><a href="">Áo quần chó chó</a></li>
                                        <li><a href="">Thức ăn chó chó</a></li>
                                        <li><a href="">Áo quần chó chó</a></li>
                                        <li><a href="">Thức ăn chó chó</a></li>
                                        <li><a href="">Áo quần chó chó</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="/sanphamchomeo">Shop cho mèo</a>
                                <i class="fa fa-home"></i>
                                <div class="nav-chitiet2">
                                    <ul>
                                        <li><a href="">Thức ăn cho meof</a></li>
                                        <li><a href="">Áo quần cho meof</a></li>
                                        <li><a href="">Thức ăn cho meof</a></li>
                                        <li><a href="">Áo quần cho meof</a></li>
                                        <li><a href="">Thức ăn cho meof</a></li>
                                        <li><a href="">Áo quần cho meof</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="/khuyenmai">Khuyến mãi</a>
                            </li>
                            <li>
                                <a href="/tintuc">Tin tức</a>
                            </li>
                            <li>
                                <a href="/lienhe">Liên hệ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>