<section class="container-fluid">
        <div class="dem">
            <div class="container">
                <div class="dem-nd">
                    <div class="dem-chinhsach">
                        <div class="dem-chinhsach-item">
                            <i class="fa fa-home"></i>
                            <p>
                                <span>Thanh toan</span>
                                <span>khi nhan hang</span>
                            </p>
                        </div>
                        <div class="dem-chinhsach-item">
                            <i class="fa fa-home"></i>
                            <p>
                                <span>Thanh toan</span>
                                <span>khi nhan hang</span>
                            </p>
                        </div>
                        <div class="dem-chinhsach-item">
                            <i class="fa fa-home"></i>
                            <p>
                                <span>Thanh toan</span>
                                <span>khi nhan hang</span>
                            </p>
                        </div>
                        <div class="dem-chinhsach-item">
                            <i class="fa fa-home"></i>
                            <p>
                                <span>Thanh toan</span>
                                <span>khi nhan hang</span>
                            </p>
                        </div>
                    </div>
                    <div class="dem-banner">
                        <div class="dem-banber-slider">
                            <div class="dem-banner-item">
                                <img src="/img/banner-sp.jpg" alt="">
                            </div>
                            <div class="dem-banner-item">
                                <img src="/img/banner-sp.jpg" alt="">
                            </div>
                            <div class="dem-banner-item">
                                <img src="/img/banner-sp.jpg" alt="">
                            </div>
                        </div>
                            
                    </div>
                </div>
                
            </div>
        </div>
    </section>