    
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiệu chỉnh</title>
    
</script>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/sp.css">
    <link rel="stylesheet" href="/css/media.css">
    <link rel="stylesheet" href="/css/sploaichinh.css">
    <link rel="stylesheet" href="/css/hieuchinh.css">
    <link rel="stylesheet" href="/font/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    
   <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Pangolin&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap" rel="stylesheet">
</head>
<body>
       
    <section class="container-fluid main-2">
        {{>header}}
    <section class="container-fluid">
    </section>
        <div class="error"> Chưa hoàn thành</div>
        

        {{>footer}}
        
        
    </section>
<div class="thongbaodautrang">
        
        <div class="thongbaodautrang-noidung">
            <div class="thongbaodautrang-dong"><i class="fa fa-times"></i></div>
            <h3>Hướng dẫn sử dụng</h3>
            <p><i class='fa fa-hand-o-right'></i> Trang này chưa hoàn thành</p>
        </div>

    </div>  
    
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/index.js"></script>
    
    
     
    
    
    
    
</body>
</html>