    
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/sp.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="font/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="js/slick-1.8.1/slick/slick.css"/>

<link rel="stylesheet" type="text/css" href="js/slick-1.8.1/slick/slick-theme.css"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Pangolin&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap" rel="stylesheet">
</head>
<body>
       
    <section class="container-fluid main-2">
        {{>header}}
    {{>slideBanner}}
    <section class="container-fluid">
        <div class="container">
            <div class="lh">
                <div class="lh-chinhanh">
                    <h4>Hệ thống Siêu thị PetCity trên toàn quốc</h4>
                    <div class="lh-chinhanh-tinh">
                        <h5>Tp.HCM:</h5>
                        <div class="lh-chinhanh-item">
                            <h5>1/ Số 10 Hàm Long, Hoàn Kiếm, Hà Nội (Flagship store)</h5>
                            <p>Tel:  024 39332727 - 1900 2214( <a href="">Tìm cửa hàng</a> )</p>
                        </div>
                        <div class="lh-chinhanh-item">
                            <h5>2/ Số 10 Hàm Long, Hoàn Kiếm, Hà Nội (Flagship store)</h5>
                            <p>Tel:  024 39332727 - 1900 2214( <a href="">Tìm cửa hàng</a> )</p>
                        </div>
                    </div>
                    <div class="lh-chinhanh-tinh">
                        <h5>Tp.HCM:</h5>
                        <div class="lh-chinhanh-item">
                            <h5>1/ Số 10 Hàm Long, Hoàn Kiếm, Hà Nội (Flagship store)</h5>
                            <p>Tel:  024 39332727 - 1900 2214( <a href="">Tìm cửa hàng</a> )</p>
                        </div>
                        <div class="lh-chinhanh-item">
                            <h5>2/ Số 10 Hàm Long, Hoàn Kiếm, Hà Nội (Flagship store)</h5>
                            <p>Tel:  024 39332727 - 1900 2214( <a href="">Tìm cửa hàng</a> )</p>
                        </div>
                    </div>
                    <div class="lh-chinhanh-tinh">
                        <h5>Tp.HCM:</h5>
                        <div class="lh-chinhanh-item">
                            <h5>1/ Số 10 Hàm Long, Hoàn Kiếm, Hà Nội (Flagship store)</h5>
                            <p>Tel:  024 39332727 - 1900 2214( <a href="">Tìm cửa hàng</a> )</p>
                        </div>
                        <div class="lh-chinhanh-item">
                            <h5>2/ Số 10 Hàm Long, Hoàn Kiếm, Hà Nội (Flagship store)</h5>
                            <p>Tel:  024 39332727 - 1900 2214( <a href="">Tìm cửa hàng</a> )</p>
                        </div>
                    </div>
                </div>
                <div class="lh-form">
                    <h5>Quý khách vui lòng gửi thông tin theo form sau :</h5>
                    <form action="lienhe.html">
                        <div class="lh-form-input">
                            <label for="">Tên của bạn:</label>
                            <input placeholder="Nhập tên của bạn" type="text">
                        </div>
                        <div class="lh-form-input">
                            <label for="">Địa chỉ email:</label>
                            <input placeholder="Nhập địa chỉ email" type="text">
                        </div>
                        <div class="lh-form-input">
                            <label for="">Số điện thoại:</label>
                            <input placeholder="Nhập số điện thoại" type="text">
                        </div>
                        <div class="lh-form-input">
                            <label for="">Nội dung:</label>
                            <textarea placeholder="Nội dung liên hệ" name="" id="" cols="30" rows="5" style="resize: none; outline: inherit;"></textarea>
                        </div>
                        <div class="lh-form-sumbit">
                            <input type="submit" class="">
                        </div>
                        
                    </form>
                </div>

            </div>
            <!-- <div class="lh-dichvu">
                <div class="lh-dichvu-item">
                    <div class="lh-dichvu-item-nd">
                        <h4>Dinh dưỡng</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="">Mời đọc</a>
                    </div>
                    <div class="lh-dichvu-item-icon">
                        <i class="fa fa-home"></i>
                    </div>
                </div>
                <div class="lh-dichvu-item">
                    <div class="lh-dichvu-item-nd">
                        <h4>Dinh dưỡng</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="">Mời đọc</a>
                    </div>
                    <div class="lh-dichvu-item-icon">
                        <i class="fa fa-home"></i>
                    </div>
                </div>
                <div class="lh-dichvu-item">
                    <div class="lh-dichvu-item-nd">
                        <h4>Dinh dưỡng</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="">Mời đọc</a>
                    </div>
                    <div class="lh-dichvu-item-icon">
                        <i class="fa fa-home"></i>
                    </div>
                </div>
                <div class="lh-dichvu-item">
                    <div class="lh-dichvu-item-nd">
                        <h4>Dinh dưỡng</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="">Mời đọc</a>
                    </div>
                    <div class="lh-dichvu-item-icon">
                        <i class="fa fa-home"></i>
                    </div>
                </div>
            </div>      -->
        </div>

    </section>
        

        {{>footer}}
        
        
    </section>

    
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/gsap.min.js"></script>
    
    
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/slick-1.8.1/slick/slick.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>