    
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/sp.css">
    <link rel="stylesheet" href="css/tintuc.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="font/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="js/slick-1.8.1/slick/slick.css"/>

<link rel="stylesheet" type="text/css" href="js/slick-1.8.1/slick/slick-theme.css"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Pangolin&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap" rel="stylesheet">
</head>
<body>
       
    <section class="container-fluid main-2">
        {{>header}}
    <section class="container-fluid">
        {{>slideBanner}}
        <div class="container">
            <div class="line-page">
                <p>
                    <span>San pham</span>
                    <span>/San pham cho cho</span>
                    <span>/Thuc an</span>
                </p>
            </div>
            <div class="tintuc">
                
                <div class="tintuc-nd">
                    <div class="tintuc-nd-left">
                        <div class="tintuc-noibat">
                            <h4>Tin noi bat</h4>
                            <div class="tintuc-noibat-nd">
                                <div class="tintuc-noibat-left">
                                    <img src="img/cho1.jpg" alt="">
                                </div>
                                <div class="tintuc-noibat-right">
                                    <div class="tintuc-noibat-right-item">
                                        <div class="noibat-item-img">
                                            <a href=""><img src="img/cho1.jpg" alt=""></a>
                                        </div>  
                                        <div class="noibat-item-text">
                                            <a href="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit, ab.</a>
                                            
                                        </div>  
                                    </div>
                                    <div class="tintuc-noibat-right-item">
                                        <div class="noibat-item-img">
                                            <a href=""><img src="img/cho1.jpg" alt=""></a>
                                        </div>  
                                        <div class="noibat-item-text">
                                            <a href="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit, ab.</a>
                                            
                                        </div>  
                                    </div>
                                    <div class="tintuc-noibat-right-item">
                                        <div class="noibat-item-img">
                                            <a href=""><img src="img/cho1.jpg" alt=""></a>
                                        </div>  
                                        <div class="noibat-item-text">
                                            <a href="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit, ab.</a>
                                            
                                        </div>  
                                    </div>
                                </div>
                            </div>                   
                        </div>
                        <div class="tintuc-muc">
                            <div class="tintuc-muc-nd">
                                <h5>Tin khuyến mãi</h5>
                                <hr>
                                <div class="tintuc-muc-nd-hot">
                                    <div class="tintuc-hot-img">
                                        <img src="img/cho.jpg" alt="">
                                    </div>
                                    <div class="tintuc-hot-text">
                                        <h5>Tin tuc hot nhat</h5>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus ut pariatur nobis fuga ipsam veniam ullam eos sunt suscipit quibusdam!</p>
                                    </div>
                                </div>
                                <ul>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                </ul>
                            </div>
                            <div class="tintuc-muc-nd">
                                <h5>Tin khuyến mãi</h5>
                                <hr>
                                <div class="tintuc-muc-nd-hot">
                                    <div class="tintuc-hot-img">
                                        <img src="img/cho.jpg" alt="">
                                    </div>
                                    <div class="tintuc-hot-text">
                                        <h5>Tin tuc hot nhat</h5>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus ut pariatur nobis fuga ipsam veniam ullam eos sunt suscipit quibusdam!</p>
                                    </div>
                                </div>
                                <ul>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>                              
                                </ul>
                            </div>
                            <div class="tintuc-muc-nd">
                                <h5>Tin khuyến mãi</h5>
                                <hr>
                                <div class="tintuc-muc-nd-hot">
                                    <div class="tintuc-hot-img">
                                        <img src="img/cho.jpg" alt="">
                                    </div>
                                    <div class="tintuc-hot-text">
                                        <h5>Tin tuc hot nhat</h5>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus ut pariatur nobis fuga ipsam veniam ullam eos sunt suscipit quibusdam!</p>
                                    </div>
                                </div>
                                <ul>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                </ul>
                            </div>
                            <div class="tintuc-muc-nd">
                                <h5>Tin khuyến mãi</h5>
                                <hr>
                                <div class="tintuc-muc-nd-hot">
                                    <div class="tintuc-hot-img">
                                        <img src="img/cho.jpg" alt="">
                                    </div>
                                    <div class="tintuc-hot-text">
                                        <h5>Tin tuc hot nhat</h5>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus ut pariatur nobis fuga ipsam veniam ullam eos sunt suscipit quibusdam!</p>
                                    </div>
                                </div>
                                <ul>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                </ul>
                            </div>
                            <div class="tintuc-muc-nd">
                                <h5>Tin khuyến mãi</h5>
                                <hr>
                                <div class="tintuc-muc-nd-hot">
                                    <div class="tintuc-hot-img">
                                        <img src="img/cho.jpg" alt="">
                                    </div>
                                    <div class="tintuc-hot-text">
                                        <h5>Tin tuc hot nhat</h5>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus ut pariatur nobis fuga ipsam veniam ullam eos sunt suscipit quibusdam!</p>
                                    </div>
                                </div>
                                <ul>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>                              
                                </ul>
                            </div>
                            <div class="tintuc-muc-nd">
                                <h5>Tin khuyến mãi</h5>
                                <hr>
                                <div class="tintuc-muc-nd-hot">
                                    <div class="tintuc-hot-img">
                                        <img src="img/cho.jpg" alt="">
                                    </div>
                                    <div class="tintuc-hot-text">
                                        <h5>Tin tuc hot nhat</h5>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus ut pariatur nobis fuga ipsam veniam ullam eos sunt suscipit quibusdam!</p>
                                    </div>
                                </div>
                                <ul>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                </ul>
                            </div>
                            <div class="tintuc-muc-nd">
                                <h5>Tin khuyến mãi</h5>
                                <hr>
                                <div class="tintuc-muc-nd-hot">
                                    <div class="tintuc-hot-img">
                                        <img src="img/cho.jpg" alt="">
                                    </div>
                                    <div class="tintuc-hot-text">
                                        <h5>Tin tuc hot nhat</h5>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus ut pariatur nobis fuga ipsam veniam ullam eos sunt suscipit quibusdam!</p>
                                    </div>
                                </div>
                                <ul>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                    <li><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing.</a></li>
                                </ul>
                            </div>
                            
                            
                            
                        </div>  
                    </div>
                    <div class="tintuc-nd-right">
                        <div class="qc-sp">
                            <div class="qc-sp-item">
                                <div class="qc-sp-item-nd">
                                    <img src="img/cho.jpg" alt="">
                                    <div class="qc-sp-item-nd-text">
                                        <p>Ten san pham</p>
                                        <p>100000 d</p>
                                        <a href="">Xem ngay</a>
                                    </div>
                                </div>

                            </div>
                            <div class="qc-sp-item">
                                <div class="qc-sp-item-nd">
                                    <img src="img/cho.jpg" alt="">
                                    <div class="qc-sp-item-nd-text">
                                        <p>Ten san pham</p>
                                        <p>100000 d</p>
                                        <a href="">Xem ngay</a>
                                    </div>
                                </div>

                            </div>
                            <div class="qc-sp-item">
                                <div class="qc-sp-item-nd">
                                    <img src="img/cho.jpg" alt="">
                                    <div class="qc-sp-item-nd-text">
                                        <p>Ten san pham</p>
                                        <p>100000 d</p>
                                        <a href="">Xem ngay</a>
                                    </div>
                                </div>

                            </div>
                            <div class="qc-sp-item">
                                <div class="qc-sp-item-nd">
                                    <img src="img/cho.jpg" alt="">
                                    <div class="qc-sp-item-nd-text">
                                        <p>Ten san pham</p>
                                        <p>100000 d</p>
                                        <a href="">Xem ngay</a>
                                    </div>
                                </div>

                            </div>
                            <div class="qc-sp-item">
                                <div class="qc-sp-item-nd">
                                    <img src="img/cho.jpg" alt="">
                                    <div class="qc-sp-item-nd-text">
                                        <p>Ten san pham</p>
                                        <p>100000 d</p>
                                        <a href="">Xem ngay</a>
                                    </div>
                                </div>

                            </div>
                            <div class="qc-sp-item">
                                <div class="qc-sp-item-nd">
                                    <img src="img/cho.jpg" alt="">
                                    <div class="qc-sp-item-nd-text">
                                        <p>Ten san pham</p>
                                        <p>100000 d</p>
                                        <a href="">Xem ngay</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                      
                </div>
            </div>
        </div>
    </section>
        {{>footer}}
        
        
    </section>

    
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/gsap.min.js"></script>
    
    
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/slick-1.8.1/slick/slick.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>