.container{
    max-width: 1200px;
    margin: 0 auto;
    

}
.container-fluid{
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

:root {
    --primary-color: #f40058;
    --secondary-color: #161b40;
    --thir-color:#43bee5;
    --four-color:#efa500;
    --five-color:#41b853;
    --text-color: #bdbab4;
    --hover-color:#98dbc6;
    --font-header-large:40px;
    --font-header-medium:30px;
    --font-header-small:25px;
    --text-large:18px;
    --text-medium:16px;
    --text-small:14px;
    --light-primary-color: #f40059ad;
    --light-five-color:#41b85334;
    --light-secondary-color:#161b409e;
    --light-thir-color:#43bfe5b3;
    --light-five-color:#41b853a8;

}

img{
    width: 100%;
}
ul{
    list-style: none;
}
input, button{
    border:none;
    outline:none;
    background-color: none;
}
a{
    color:var(--secondary-color)
}