
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.thanhtoan-form {
    margin: auto;
    width: 600px;
    max-width: 100%;
}

.thanhtoan {
    display: block;
}

.thanhtoan {}

.thanhtoan-form h3 {
    text-align: center;
}

.hieuchinhnhanvien {
    margin: 30px 0;
}

h5 {
    font-size: var(--text-large);
    text-align: center;
}

.hieuchinhnhanvien-item:hover .slide-img img {
    filter: brightness(0.3);
}

.slide-img img {
    filter: none;
}

.slide-img:hover .slide-icon {
    transition: 0.5s;
    transform: translateY(-206%);
}

.hieuchinhnhanvien-trong {
    position: relative;
    padding: 15px;
    border: 1px solid #aaa;
    border-radius: 5px;
}




.hieuchinhnhanvien-item {
    width: 20%;
    padding: 15px;
}

.hieuchinhnhanvien-nd {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@media screen and (max-width: 375px) {
    
}
@media screen and (min-width: 375px) {
   
}
@media screen and (min-width: 600px) {
    
}
@media screen and (min-width: 769px) {
    
}
@media screen and (min-width: 1024px) {
    
    
}
@media screen and (min-width: 1200px) {
    
}
