@media screen and (max-width: 375px) {
    .nav-bar{display:none} 
    .nav-bar-2{display: block;}
    .nd1 .nd .item-2{width: 100%;text-align: center;}
    .nd1 .nd .item{width: 50%;}
    .nd2-img, .nd2-text{width: 100%;height:630px;text-align: center;}
    .nd2-text{height:840px}
    .nd4 .wedo{width:100%;}
    .wedotap{width: 100%;}
    .nd5-title{width: 100%;text-align: center;}
    .nd5-nav{width: 100%;text-align: center}
    .galery-fitter ul li{width: 100%;}
    .nd6-item{width:50%}
    .nd6{height:auto}
    .nd7 {margin-top: 0px;}
    .nd7-left{width:100%}
    .nd7-right{width:100%}
    .nd7-right-bor{padding: 30px 0px;}
    .nd7-right-img{width:100%}
    .nd7-right-ul{width:100%}
    .nd3 .ancy-parent{right: -50%; top:-4%}
    .nd3 .noidung .agency{top: 6%; right: -16%}
    .nd3 .video{left:213px}
    .wedo-img{width: 100%;}
    .wedo-text{width:100%; padding-left: 0px;}
    .nd10-nd{padding: 90px 15px;}
    .nd11-best{width:100%;padding-right: 15px;}
    .nd11-best-details{width:100%}
    .nd11-best-details-col{flex-direction: column;}
    .nd4 h2.wedo-title{text-align:center;}
    .nd3 .noidung .agency p{text-align:center}
    .nd7-title p{text-align:center}
    .nd13-col-item{width:100%}
    .nd1-but{top:220px}
    .f-greet, .f-exp, .f-contact, .f-news{
        width: 50%;
    }
    .tintuc-nd-left{width: 100%;}
    .tintuc-nd-right{width:100%;}
    .dem-chinhsach{width: 100%;}
    .dem-chinhsach-item{width:25%}
    .dem-banner{width:100%}
    .header-nd .lo{width: 30%; display: block;}
    .header-nd .find{width: 50%; display: block;}
    .header-nd .ktdonhang{display: none;}
    .header-nd .giohang{display: block;}
    .header-nd .onl{display: none}
    .sp-1-list-menu{display:none;width: 100%;}
    .sp-1-otpmenu{display:block;width: 100%;}
    .sp-1-sp{width: 100%;}

}
@media screen and (min-width: 375px) {
    .nav-bar{display:none} 
    .nav-bar-2{display: block;}
    .nd1 .nd .item-2{width: 100%;text-align: center;}
    .nd1 .nd .item{width: 50%;}
    .nd2-img, .nd2-text{width: 100%;height:630px;text-align: center;}
    .nd2-text{height:840px}
    .img-top{width:50%}
    .nd4 .wedo{width:100%;}
    .wedotap{width: 100%;}
    .nd5-title{width: 100%;text-align: center;}
    .nd5-nav{width: 100%;text-align: center}
    .galery-fitter ul li{width: 100%;}
    .nd6-item{width:50%}
    .nd6{height:auto}
    .nd7 {margin-top: 0px;}
    .nd7-left{width:100%}
    .nd7-right{width:100%}
    .nd7-right-bor{padding: 30px 0px;}
    .nd7-right-img{width:100%}
    .nd7-right-ul{width:100%}
    .nd3 .ancy-parent{right: -50%; top:-4%}
    .nd3 .noidung .agency{top: 6%; right: -16%}
    .nd3 .video{left:213px}
    .wedo-img{width: 100%;}
    .wedo-text{width:100%; padding-left: 0px;}
    .nd10-nd{padding: 90px 15px;}
    .nd11-best{width:100%;padding-right: 15px;}
    .nd11-best-details{width:100%}
    .nd4 h2.wedo-title{text-align:center;}
    .nd3 .noidung .agency p{text-align:center}
    .nd7-title p{text-align:center}
    .nd13-col-item{width:100%}
    .nd1-but{top:220px}
    .f-greet, .f-exp, .f-contact, .f-news{
        width: 50%;
    }
    .tintuc-nd-left{width: 100%;}
    .tintuc-nd-right{width:100%;}
    .dem-chinhsach{width: 100%;}
    .dem-chinhsach-item{width:25%}
    .dem-banner{width:100%}
    .header-nd .lo{width: 30%; display: block;}
    .header-nd .find{width: 50%; display: block;}
    .header-nd .ktdonhang{display: none;}
    .header-nd .giohang{display: block;}
    .header-nd .onl{display: none}
    .sp-1-list-menu{display:none}
    .sp-1-list-menu{display:none;width: 100%;}
    .sp-1-otpmenu{display:block;width: 100%;}
    .sp-1-sp{width: 100%;}

}
@media screen and (min-width: 600px) {
    .nav-bar{display:none} 
    .nav-bar-2{display: block;}
    .nd1 .nd .item-2{width: 100%;text-align: center;}
    .nd1 .nd .item{width: 50%;}
    .nd2-img, .nd2-text{width: 100%;height:630px;text-align: center;}
    .img-top{width:50%}
    .nd4 .wedo{width:100%;}
    .wedotap{width: 100%;}
    .nd5-title{width: 100%;text-align: center;}
    .nd5-nav{width: 100%;text-align: center}
    .galery-fitter ul li{width: 50%;}
    .nd6-item{width:25%}
    .nd6{height:450px}
    .nd7 {margin-top: -186px;}
    .nd7-left{width:100%}
    .nd7-right{width:100%}
    .nd7-right-bor{padding: 30px 0px;}
    .nd7-right-img{width:100%}
    .nd7-right-ul{width:100%}
    .nd3 .ancy-parent{right: 5%; top:-4%}
    .nd3 .noidung .agency{top: 6%;right: 14%;}
    .nd3 .video{left:42px}
    .wedo-img{width: 40%;}
    .wedo-text{width:60%;padding-left: 30px;}
    .nd10-nd{padding: 90px 15px;}
    .nd11-best{width:100%;padding-right: 15px;}
    .nd11-best-details{width:100%}
    .nd11-best-details-col{flex-direction: row;}
    .nd4 h2.wedo-title{text-align:center;}
    .nd3 .noidung .agency p{text-align:start}
    .nd7-title p{text-align:center}
    .nd13-col-item{width:100%}
    .nd1-but{top:220px}
    .f-greet, .f-exp, .f-contact, .f-news{
        width: 50%;
    }
    .tintuc-nd-left{width: 100%;}
    .tintuc-nd-right{width:100%;}
    .dem-chinhsach{width: 100%;}
    .dem-chinhsach-item{width:25%}
    .dem-banner{width:100%}
    .header-nd .lo{width: 30%; display: block;}
    .header-nd .find{width: 40%; display: block;}
    .header-nd .ktdonhang{display: none;}
    .header-nd .giohang{display: block;}
    .header-nd .onl{display: none}
    .sp-1-list-menu{display:none;width: 100%;}
    .sp-1-otpmenu{display:block;width: 100%;}
    .sp-1-sp{width: 100%;}
}
@media screen and (min-width: 769px) {
    .nav-bar{display:none} 
    .nav-bar-2{display: block;}
    .nd1 .nd .item-2{width: 100%;text-align: center;}
    .nd1 .nd .item{width: 50%;}
    .nd2-img, .nd2-text{width: 100%;height:630px;text-align: center;}
    .img-top{width:50%}
    .nd4 .wedo{width:100%;}
    .wedotap{width: 100%;}
    .nd5-title{width: 100%;text-align: center;}
    .nd5-nav{width: 100%;text-align: center}
    .galery-fitter ul li{width: 50%;}
    .nd6-item{width:25%}
    .nd6{height:450px}
    .nd7 {margin-top: -186px;}
    .nd7-left{width:40%}
    .nd7-right{width:60%}
    .nd7-right-bor{padding: 68px 0 0 110px;}
    .nd7-right-img{width:40%}
    .nd7-right-ul{width:60%}
    .nd3 .ancy-parent{right: 5%; top:-4%}
    .nd3 .noidung .agency{top: 6%;right: 14%;}
    .nd3 .video{left:42px}
    .wedo-img{width: 40%;}
    .wedo-text{width:60%;padding-left: 30px;}
    .nd10-nd{padding: 90px 15px;}
    .nd11-best{width:100%;padding-right: 15px;}
    .nd11-best-details{width:100%}
    .nd11-best-details-col{flex-direction: column;}
    .nd4 h2.wedo-title{text-align:center;}
    .nd3 .noidung .agency p{text-align:start}
    .nd7-title p{text-align:center}
    .nd13-col-item{width:33.33%}
    .nd1-but{top:220px}
    .f-greet, .f-exp, .f-contact, .f-news{
        width: 25%;
    }
    .tintuc-nd-left{width: 70%;}
    .tintuc-nd-right{width: 30%;}
    .dem-chinhsach{width: 100%;}
    .dem-chinhsach-item{width:25%}
    .dem-banner{width:100%}
    .header-nd .lo{width: 20%; display: block;}
    .header-nd .find{width: 30%; display: block;}
    .header-nd .ktdonhang{display: block;}
    .header-nd .giohang{display: block;}
    .header-nd .onl{display: none}
    .sp-1-list-menu{display:block;width: 25%;}
    .sp-1-otpmenu{display:none;width: 25%;}
    .sp-1-sp{width: 75%;}
}
@media screen and (min-width: 1024px) {
    .nav-bar{display:block;} 
    .nav-bar-2{display: none}
    .nd1 .nd .item-2{width: 50%;text-align: left;}
    .nd1 .nd .item{width: 25%;}
    .nd2-img, .nd2-text{width: 50%;height:630px;text-align: left;}
    .img-top{width:70%}
    .nd4 .wedo{width: 50%;}
    .wedotap{width: 50%;}
    .nd5-title{width: 50%; text-align: start;}
    .nd5-nav{width: 50%; text-align:end}
    .galery-fitter ul li{width: 33.33%;}
    .nd6-item{width:25%}
    .nd6{height:450px}
    .nd7 {margin-top: -186px;}
    .nd7-left{width:40%}
    .nd7-right{width:60%}
    .nd7-right-bor{padding: 68px 0 0 110px;}
    .nd7-right-img{width:40%}
    .nd7-right-ul{width:60%}
    .nd3 .ancy-parent{right: 5%; top:-4%}
    .nd3 .noidung .agency{top: 6%;right: 14%;}
    .nd3 .video{left:42px}
    .wedo-img{width: 40%;}
    .wedo-text{width:60%;padding-left: 30px;}
    .nd10-nd{padding: 90px 120px;}
    .nd11-best{width:50%;padding-right: 60px;}
    .nd11-best-details{width:50%}
    .nd11-best-details-col{flex-direction: row;}
    .nd4 h2.wedo-title{text-align:start;}
    .nd3 .noidung .agency p{text-align:start}
    .nd7-title p{text-align:start}
    .nd13-col-item{width:33.33%}
    .nd1-but{top:200px}
    .f-greet, .f-exp, .f-contact, .f-news{
        width: 25%;
    }
    .tintuc-nd-left{width: 70%;}
    .tintuc-nd-right{width: 30%;}
    .dem-chinhsach{width: 100%;}
    .dem-chinhsach-item{width:25%}
    .dem-banner{width:100%}
    .header-nd .lo{width: 20%; display: block;}
    .header-nd .find{width: 30%; display: block;}
    .header-nd .ktdonhang{display: block;}
    .header-nd .giohang{display: block;}
    .header-nd .onl{display: block}
    .sp-1-list-menu{display:block;width: 25%;}
    .sp-1-otpmenu{display:none;width: 25%;}
    .sp-1-sp{width: 75%;}
    
}
@media screen and (min-width: 1200px) {
    .nav-bar{display:block;} 
    .nav-bar-2{display: none}
    .nd1 .nd .item-2{width: 50%;text-align: left;}
    .nd1 .nd .item{width: 25%;}
    .nd2-img, .nd2-text{width: 50%; height:630px;text-align: left;}
    .img-top{width:70%}
    .nd4 .wedo{width: 50%;}
    .wedotap{width: 50%;}
    .nd5-title{width: 50%; text-align: start;}
    .nd5-nav{width: 50%; text-align:end}
    .galery-fitter ul li{width: 33.33%;}
    .nd6-item{width:25%}
    .nd6{height:450px}
    .nd7 {margin-top: -186px;}
    .nd7-left{width:40%}
    .nd7-right{width:60%}
    .nd7-right-bor{padding: 68px 0 0 110px;}
    .nd7-right-img{width:40%}
    .nd7-right-ul{width:60%}
    .nd3 .ancy-parent{right: 5%; top:-4%}
    .nd3 .noidung .agency{top: 6%;right: 14%;}
    .nd3 .video{left:42px}
    .wedo-img{width: 40%;}
    .wedo-text{width:60%;padding-left: 30px;}
    .nd10-nd{padding: 90px 120px;}
    .nd11-best{width:50%;padding-right: 60px;}
    .nd11-best-details{width:50%}
    .nd11-best-details-col{flex-direction: row;}
    .nd4 h2.wedo-title{text-align:start;}
    .nd3 .noidung .agency p{text-align:start}
    .nd7-title p{text-align:start}
    .nd13-col-item{width:33.33%}
    .nd1-but{top:120px}
    .f-greet, .f-exp, .f-contact, .f-news{
        width: 25%;
    }
    .tintuc-nd-left{width: 70%;}
    .tintuc-nd-right{width: 30%;}
    .dem-chinhsach{width: 30%;}
    .dem-chinhsach-item{width:50%}
    .dem-banner{width:70%}
    .header-nd .lo{width: 20%; display: block;}
    .header-nd .find{width: 30%; display: block;}
    .header-nd .ktdonhang{display: block;}
    .header-nd .giohang{display: block;}
    .header-nd .onl{display: block}
    .sp-1-list-menu{display:block;width: 25%;}
    .sp-1-otpmenu{display:none;width: 25%;}
    .sp-1-sp{width: 75%;}
    

    
}
